@tailwind base;
@tailwind components;
@tailwind utilities;


.heading_text{
    background: linear-gradient(to bottom, #676767, #0B0B0B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
}